/* Home.css */
.gradient-text {
    font-size: 2em;
  font-weight: bold;
  background: linear-gradient(-225deg, #f3e8ed 0%, #221b23 50%, #321575 100%);
  -webkit-background-clip: text; /* For Safari */
  -webkit-text-fill-color: transparent; /* For Safari */
  background-clip: text;
  color: transparent;
  }
  
  .btnCon {
    margin-top: 20px;
  }
  
  #btn {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none; /* Optional: keep button text in normal case */
  }
  