body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

.section {
  padding: 100px 20px;
  background: #f9f9f9;
  text-align: center;
}

.highlight {
  color: #ff4c60;
}

.navbar {
  position: fixed;
  width: 100%;
  background: #0d1117;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  color: white;
  padding-left: 2rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.hero {
  /* background: url('https://pixabay.com/illustrations/light-bulb-idea-inspiration-light-4514505/') no-repeat center center/cover; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cta-btn {
  padding: 10px 20px;
  background: #ff4c60;
  color: white;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}